@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap')

$family-primary: "Ubuntu", sans-serif

// color palette
$kurt-purple: #3f3e77
$dark-gray: #29312F

$primary: $kurt-purple
$dark: $dark-gray

$text: $dark
$link: $primary

// bulma secondary variables
$navbar-height: 5rem
$navbar-burger-color: #fff

// bulma imports
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/form/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/layout/_all"

// custom styling
@import "./custom/_all"